<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Quizport</display-name>
  <servlet>
    <servlet-name>Loguot</servlet-name>
    <servlet-class>Loguot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loguot</servlet-name>
    <url-pattern>/Loguot</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>checker2</servlet-name>
    <servlet-class>checker2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checker2</servlet-name>
    <url-pattern>/checker2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkerJ</servlet-name>
    <servlet-class>checkerJ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkerJ</servlet-name>
    <url-pattern>/checkerJ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkerP</servlet-name>
    <servlet-class>checkerP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkerP</servlet-name>
    <url-pattern>/checkerP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkerPH</servlet-name>
    <servlet-class>checkerPH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkerPH</servlet-name>
    <url-pattern>/checkerPH</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkerH</servlet-name>
    <servlet-class>checkerH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkerH</servlet-name>
    <url-pattern>/checkerH</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Answerc</servlet-name>
    <servlet-class>Answerc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answerc</servlet-name>
    <url-pattern>/Answerc</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Answerphp</servlet-name>
    <servlet-class>Answerphp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answerphp</servlet-name>
    <url-pattern>/Answerphp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Answerj</servlet-name>
    <servlet-class>Answerj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answerj</servlet-name>
    <url-pattern>/Answerj</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Answerp</servlet-name>
    <servlet-class>Answerp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answerp</servlet-name>
    <url-pattern>/Answerp</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>